<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p><%= @name %> signed up for a free evaluation.</p>
      <p>Email Address: <%= @email %></p>
      <p>Available Times:
          <% @times.each do |i, time| %>
            <p><%= time %></p>
          <% end %>
      </p>
      <p>Fitness Goals: <%= @goals %></p>
      <p>Previous Experience: <%= @experience %></p>
      <p>Age: <%= @age %></p>
      <p>Injury History: <%= @injury_history %></p>
  </body>
</html>
