<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p><%= @name %> signed up for a free evaluation.</p>
      <p>Email Address: <%= @email %></p>
      <p>Available Times: <%= @times_string %> </p>
      <p>What are you looking to get out of flight?: <%= @why_flight %></p>
      <p>Fitness Goals: <%= @goals %></p>
      <p>Previous Experience: <%= @experience %></p>
      <p>Age: <%= @age %></p>
      <p>Injury History: <%= @injury_history %></p>
      <p>Fitness Level: <%= @fitness_level %></p>
      <p>Stress Level: <%= @stress_level %></p>
      <p>Sleep Level: <%= @sleep_level %></p>
      <p>Nutritional Level: <%= @nutritional_level %></p>
  </body>
</html>
