<div class="col-12 px-3">
    <h3><%= link_to post.title, post_path(post) %></h3>
    <% if post.published_at %>
        <label>Published <%= local_time(post.published_at) %></label>
    <% end %>
    <div class="trix-content truncate-content">
        <%= raw post.post_body %>
    </div>
</div>
<div class="col-12">
    <%= render partial: 'post_tags', locals: {post: post} %>
    <%= link_to "Read More", post_path(post), class: "btn btn-secondary" %>
</div>

