<div class="container">
    <% if @post.errors.any? %>
        <div class="mt-2 alert alert-warning alert-dismissible fade show" role="alert">
            <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="row mt-5 mb-5">
      <div class="col">
        <%= hidden_field_tag :post_id, @post.id %>
        <%= form_with model: @post, local: true do |f| %>
            <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, class: "form-control"%>
            </div>
            <div>
                <%= f.trix_editor :post_body, required: true, autofocus: true, class: "trix-content" %>
            </div>
            <div class="form-group">
                <%= f.label :tags %>
                <%= tag_select_helper(f, @post) %>
            </div>
            <div class="form-group">
                <%= f.label :author %>
                <%= f.select :author_id, Author.all.pluck(:name, :id), {}, class: "custom-select" %>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <%= f.check_box :published, class: "custom-control-input", id: "published-checkbox" %>
                    <%= f.label :published, "Publish Post", class: "custom-control-label", for: "published-checkbox" %>
                </div>
            </div>
            <%= f.submit %>
        <% end %>
      </div>
   </div>
</div>
