<div class="container">
  <%= render partial: "shared/admin_row" %>
   <% @posts.each do |post| %>
     <div class="row my-2 mx-md-2 py-2 p-md-3 bg-light">
        <%= render partial: 'post_short', locals: { post: post } %>
        <% if user_signed_in? %>
          <%= render partial: 'post_admin_info', locals: { post: post } %>
        <% end %>
     </div>
     <br>
   <% end %>



   <div class="row mb-5">
    <div class="col-12 text-center flickr_pagination">
        <div class="page_info">
            <%= page_entries_info @posts %>
        </div>
        <%= will_paginate @posts, :container => false %>
    </div>
   </div>
</div>
