<div class="container">
    <% if user_signed_in? %>
        <div class="row m-2">
            <div class="col-12">
                <%= link_to "New Post", posts_path, method: :post, class:"btn btn-primary float-right " %>
            </div>
        </div>
    <% end %>
   <% @posts.each do |post| %>
     <div class="row m-md-2 p-md-3 bg-light">
        <%= render partial: 'post_short', locals: { post: post } %>
        <% if user_signed_in? %>
          <%= render partial: 'post_admin_info', locals: { post: post } %>
        <% end %>
     </div>
     <br>
   <% end %>



   <div class="row mb-5">
    <div class="col-12 text-center flickr_pagination">
        <div class="page_info">
            <%= page_entries_info @posts %>
        </div>
        <%= will_paginate @posts, :container => false %>
    </div>
   </div>
</div>
