<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <h1>About Flight</h1>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <p>At Flight, we don't believe in a one size fits all fitness program. Every person's fitness goals and ability is different. Whether you are a seasoned athlete or completely new to working out, we can serve your needs. Our goal is to build our clients mental and physical strength to take on all the obstacles between them and their goals.</p>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h2>The Staff</h2>
        </div>
    </div>
    <div class="row mt-5 mb-5 text-center">
        <div class="col">
            <h3>Owners - Jared and Dylan</h3>
            <img class="img-fluid" src="<%= asset_path("dylan-and-jared-3.jpg") %>" alt="Dylan Gutheil and Jared Collinson" />
        </div>
    </div>

    <div class="card-deck mb-5">
        <div class="card">
            <div class="card-block">
                <img class="card-img-top img-fluid" src="<%= asset_path("jared-collinson.jpg") %>" alt="Jared Collinson">
                <h4 class="card-title pt-3 pb-3">Jared Collinson</h4>
                <p>Credentials: <b>CSCS</b></p>
                <p class="lead card-text">
                    Jared grew up in Sandwich, Massachusetts, where he played soccer and football through high school. He started playing rugby at Springfield College, where he earned a degree in Exercise Science. He continues to play rugby at a professional level, competing internationally. Jared’s enthusiasm for fitness and training is matched by his professional experience working in physical therapy clinics, strength and conditioning facilities, and sports clubs.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <img class="card-img-top img-fluid" src="<%= asset_path("dylan-gutheil.jpg") %>" alt="Dylan Gutheil">
                <h4 class="card-title pt-3 pb-3">Dylan Gutheil</h4>
                <p>Credentials: <b>CSCS, Pn1</b></p>

                <p class="lead card-text">
                    Dylan grew up in Brookline, Massachusetts. Passionate about sports since childhood, Dylan played football and rugby in high school and continued his rugby career at Springfield College, where he earned a degree in Exercise Science. After college, he dedicated himself to the field of strength and conditioning. Dylan has extensive expertise in the science of human movement, exercise physiology, and biomechanics, and he enjoys working with clients of all ages and skill levels.
                </p>
            </div>
        </div>
    </div>
    <div class="card-deck mb-5">
        <div class="card">
            <img class="card-img-top img-fluid" src="<%= asset_path("Deanna-Nash-cropped.jpg") %>" alt="Deanna Nash">
            <div class="card-block">
                <h4 class="card-title pt-3 pb-3">Deanna Nash</h4>
                <p>Credentials: <b>ATC</b></p>
                <p class="lead card-text">
                    Deanna moved to Boston, MA from rural upstate New York to attend Boston University where she studied Athletic Training. After working as a part time athletic trainer and exercise specialist in the Boston area for 3 years, she decided to shift her focus towards the strength and conditioning field. Deanna started playing rugby at BU and currently plays with Boston Women's Rugby Football Club and the Northeast Academy. She also coaches rugby at Belmont High School and Northeastern University.
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="<%= asset_path("vini.jpg") %>" alt="Vini">
        <div class="card-block">
            <h4 class="card-title pt-3 pb-3">Vini</h4>
            <p class="lead card-text">
                Vini grew up in Cambridge, Ma., his journey into athletics began at the age of 4 where he played various sports, 3 or 4 seasons of every year from then on. After finding collegiate rugby at Springfield College in 2009, he decided to dedicate more time to the craft of exercise science and physiology, in order to take rugby to the International level. During this journey he earned a degree in Psychology and became well equipped as a Personal Trainer, working for one of the largest commercial gyms in the Boston area from 2012-2018. He is passionate about sharing knowledge, elite movement and performance, and working with clients of all levels. 
            </p>
        </div>
        </div>
    </div>
    <div class="card-deck mb-5">
        <div class="card">
            <img class="card-img-top img-fluid" src="<%= asset_path("matt.jpg") %>" alt="Matt Crush">
        <div class="card-block">
            <h4 class="card-title pt-3 pb-3">Matt Crush</h4>
            <p>Credentials: <b>CSCS</b></p>
            <p class="lead card-text">
                Matt grew up in Andover MA where he played football and helped start the rugby team. He went on to UMass Amherst where he continued rugby and received his degree in Kinesiology. Matt has worked with a variety of teams including UMass Strength & Conditioning as well as with the USA Men’s Rugby 7s in California. Matt enjoys eating steak and lifting things.
                </p>
                </div>
        </div>

        <div class="card">
            <img class="card-img-top img-fluid" src="<%= asset_path("alex.jpg") %>" alt="Alex Hubelbank">
        <div class="card-block">
            <h4 class="card-title pt-3 pb-3">Alex Hubelbank</h4>
            <p>Credentials: <b>ATC CPT Pn1</b></p>
            <p class="lead card-text">
                Alex has been a part of FlightFam since the beginning as a member and now our newest coach. She played collegiate rugby alongside our very own Dee Nash at Boston University where she graduated with a degree in Athletic Training. When Alex isn’t coaching she can be found deadlifting in doughnut socks, searching for the world’s best doughnut, playing soccer, or coming up with a new concoction in the kitchen.
             </p>
        </div>
        </div>
    </div>
</div>
