<div class="container">
  <div class="row mt-2 mb-2">
    <div class="col-12">
      <h2 class="text-center">About Flight</h2>
      <p>
      Our mission is to build an environment where people can push towards their personal goals with the value of coaching at a reasonable price. We have a true passion to help people get stronger both physically and mentally.  It is our aim to have every client that walks through our door fall in love with training and the process of bettering themselves because we know that the lessons you learn in the gym will carry over into every facet of your life.
      </p>
    </div>
  </div>
  <div class="row mt-2 mb-2">
      <div class="text-center col">
          <h3>The Team</h3>
      </div>
  </div>

  <div class="card-deck row">
    <%= render partial: "about_flight_teammate", locals: {name: "Dylan Gutheil", img_name: "Dylan-Headshot-Clean.jpg", credentials: "Credentials: <strong>CSCS, Pn1</strong>", about: "Dylan grew up in Brookline, Massachusetts. Passionate about sports since childhood, Dylan played football and rugby in high school and continued his rugby career at Springfield College, where he earned a degree in Exercise Science. After college, he dedicated himself to the field of strength and conditioning. Dylan has extensive expertise in the science of human movement, exercise physiology, and biomechanics, and he enjoys working with clients of all ages and skill levels."} %>
    <%= render partial: "about_flight_teammate", locals: {name: "Jared Collinson", img_name: "Jared-Headshot-Clean.jpg", credentials: "Credentials: <strong>CSCS</strong>", about: "Jared grew up in Sandwich, Massachusetts, where he played soccer and football through high school. He started playing rugby at Springfield College, where he earned a degree in Exercise Science. He continues to play rugby at a professional level, competing internationally. Jared’s enthusiasm for fitness and training is matched by his professional experience working in physical therapy clinics, strength and conditioning facilities, and sports clubs."} %>
  </div>

  <div class="card-deck mb-5 row">
    <%= render partial: "about_flight_teammate", locals: {name: "Amber", img_name: "Amber-Head-Shot-2.jpg", credentials: nil, about: "Amber grew up in Windham, Maine and moved to Boston to attend Simmons College where she played soccer and lacrosse while studying for her Exercise Science degree. After graduating, Amber went on to work as a personal trainer while developing her knowledge around biomechanics, programming, and psychology. Amber’s passion for sports and training was born when she began playing soccer at the age of 4 and has only grown since. She currently competes as a powerlifter and considers herself an avid hiker. Her two favorite hikes thus far are Franconia Ridge and Mt. Washington in the dead of winter."} %>
    <%= render partial: "about_flight_teammate", locals: {name: "Alex Hubelbank", img_name: "alex.jpg", credentials: "Credentials: <strong>ATC CPT Pn1</strong>", about: "Alex has been part of the FlightFam from the beginning. She grew up in NJ where she played competitive soccer. She moved to Boston in 2010 to receive her degree in Athletic Training from Boston University where she also played rugby. When Alex is not coaching she can be found studying at Simmons University to become a Doctor of Physical Therapy. She currently competes in powerlifting. Alex is passionate about the opportunity to meet people where they are at on their training, nutrition, health journey. Her dream is to create an environment at the intersection of rehab and performance for all people."} %>
    <%= render partial: "about_flight_teammate", locals: {name: "Vini", img_name: "Vini-Headshot-Clean.jpg", credentials: nil, about: "Vini grew up in Cambridge, Ma., his journey into athletics began at the age of 4 where he played various sports, 3 or 4 seasons of every year from then on. After finding collegiate rugby at Springfield College in 2009, he decided to dedicate more time to the craft of exercise science and physiology, in order to take rugby to the International level. During this journey he earned a degree in Psychology and became well equipped as a Personal Trainer, working for one of the largest commercial gyms in the Boston area from 2012-2018. He is passionate about sharing knowledge, elite movement and performance, and working with clients of all levels."} %>
    <%= render partial: "about_flight_teammate", locals: {name: "Mike Anderson", img_name: "Mike-Headshot-Clean.jpg", credentials: "Credentials: <strong>MS, ATC</strong>", about: "Mike grew up in Salem, NH and moved to Boston to study Athletic Training at Boston University. Upon graduation Mike completed an internship with the New England Patriots before working as an athletic trainer at Northeastern University with the basketball, soccer, and track teams. While at Northeastern he earned a M.S. in Applied Nutrition with a concentration is sports and fitness. Mike currently works with the Holy Cross Football and Men’s Lacrosse teams. Mike is passionate about teaching proper movements patterns, wellness strategies, and increasing athletic performance."} %>
  </div>
</div>
