<div class="container mt-5 mb-5">
    <div class="row mt-5 mb-5">
        <div class="col">
            <h1 class="text-center">Sign up for a free evaluation</h1>
            <p class="display-5">
                At Flight Performance and Fitness, we don't believe in one-size-fits-all fitness programs. Each person's goals and abilities are different, so determining needs and interests comes first. This is why we recommend that anyone interested in training at Flight Performance -- whether a seasoned athlete or completely new to working out -- should come in for a free evaluation. Once we find out what your fitness goals are, we can tailor a program that perfectly suits your needs and skill level.</p>
            <hr class="mt-3 mb-3" />
        </div>
    </div>
    <div class="row">
        <div class="offset-md-2 col-md-8 col-sm-12">
            <%= form_with url: evaluation_path, id: 'register-form' do |f|%>
                <div class="row mb-2 mt-2">
                    <div class="col-md-6 col-sm-12">
                        <label>Name: </label>
                        <%= f.text_field "name", class: "form-control form-control-lg", required: true %>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label>Email: </label>
                        <%= f.email_field "email", class: "form-control form-control-lg", required: true %>
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col">
                        <label>Fitness Goals</label>
                        <%= f.text_area "goals", class: "form-control", required: true %>
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col">
                        <label>Previous Training Experience</label>
                        <%= f.text_area "experience", class: "form-control" %>
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col">
                        <label>Past Injury History</label>
                        <%= f.text_area "injury_history", class: "form-control" %>
                    </div>
                </div>
                <div class="row mb-2 mt-2">
                    <div class="col-12 mt-2 mb-2">
                        <h5>Availability</h5>
                    </div>
                    <% (1..3).each do |i| %>
                        <div class="col-md-4 col-sm-12">
                            <label>Time <%= i %>: </label>
                            <%= f.text_field "[times][#{i}]", class: "form-control form-control-lg datetimepicker-input", data: {toggle: "datetimepicker", target:"#datetimepicker#{i}"}, id: "datetimepicker#{i}", required: true %>
                        </div>
                    <% end %>
                </div>
                <div class="row mt-5 mb-5">
                    <div class="col text-center">
                        <%= f.submit "Sign up", class: "btn btn-primary" %>
                    </div>
                </div>
            <% end %>
    </div>
    </div>
</div>
