<div class="container">
    <div class="row text-center mt-5 mb-5">
        <div class="col">
            <h1>Upcoming Events</h1>
        </div>
    </div>

    <% if @upcoming_events.blank? %>
        <div class="text-center row mb-5">
            <div class="col">
                <p>We don't have any events scheduled at the moment.  Stay up to date on our <a href='https://www.facebook.com/flightperformance/' target="_blank">Facebook</a> or <a href='https://www.instagram.com/flight_performance/' target="_blank"> Instagram</a> pages.</p>
                <p>We'll also be sure to let you know about any events in person at Flight.</p>
            </div>
        </div>
    <% else %>
        <% @upcoming_events.each do |event| %>
            <div class="row mb-5">
                <div class="col">
                    <h3><%= event.title %></h3>
                    <p><b>When:</b> <%= event.human_readable_date %></p>
                    <p><b>Where:</b> <%= event.location %></p>
                    <p><b>Description: </b><%= event.description %></p>
                    <p><b>Cost: </b> <%= number_to_currency(event.amount/ 100.to_f) %></p>
                    <p class="pt-2 pb-2"><b>Open Spots:</b> <span id="event-#<%=event.id%>-open-spots"><%= event.open_spots %></span></p>
                    <%= form_with url: charges_path(event.id) do %>
                        <input
                            type="submit"
                            value="Register Now"
                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                            data-amount="<%= event.amount %>"
                            data-currency="usd"
                            data-name="Flight Performance And Fitness"
                            data-description="<%= number_to_currency(event.amount / 100.to_f) %> - for <%= event.title %>"
                            class="btn btn-primary"
                            id="stripe-submit-button"
                        />

                        <script src="https://checkout.stripe.com/v2/checkout.js"></script>
                    <% end %>
                    <p><small>Don't worry we use stripe to securely process our payments</small></p>
                </div>
                <div class="col">
                    <%= image_tag event.photo_url, alt: event.title, class: 'img-fluid' %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
