<div class="container-fluid bg-dark">
  <div id="background-home-page" class="row bg-dark text-center">
    <div class="col">
      <h1 class="text-lead">Not Your Average Gym. Here to Help You Take <b>FLIGHT</b></h1>
      <p class="font-weight-bold text-lead">Discover a high performance community of coaches and athletes becoming strong and more resilient everyday through tailor-made training, education, and support. </p>
    </div>
  </div>
</div>

<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col text-center">
            <h3 class="display-5">
                Contact us for a personalized <b>evaluation</b> or check out our various workout <b>services</b>
            </h3>
        </div>
    </div>
    <div class="row">
       <div class="col mt-3 text-center">
            <a class="m-2 btn btn-primary" href="<%= evaluation_path %>">Evaluation</a>
            <a class="m-2 btn btn-primary" href="<%= services_path %>">Services</a>
       </div>
    </div>
</div>

<div class="container-fluid bg-dark">
    <div class="row pt-5 pb-5">
        <div class="col text-center text-white">
            <h2>Get Inspired</h2>
            <h5>Work towards your fitness goals today</h5>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <%= video_tag "https://ep-files.nyc3.cdn.digitaloceanspaces.com/flight3C0469_1.mp4", class: "img-fluid", controls: true, preload: 'metadata', poster: image_path("home-page-video-screenshot.jpg") %>
      </div>
    </div>
    <div class="row mt-5 pt-1" >
      <div class="col text-center text-white">
          <h2>Flight Merchandise</h2>
          <a target="_blank" class="text-lighter-blue font-weight-bold" href="https://www.etsy.com/shop/FlightPerformance?ref=shop_sugg" ><b>Visit our online store</b></a>
      </div>
    </div>
    <div class="row">
        <div class="col p-3 m-3">
          <a href="https://www.etsy.com/shop/FlightPerformance?ref=shop_sugg" target="_blank" class="hover-opacity">
            <img src="<%= asset_path('flight-longsleeve.jpg') %>" class="img-fluid"/>
          </a>
        </div>
        <div class="col p-3 m-3">
          <a href="https://www.etsy.com/shop/FlightPerformance?ref=shop_sugg" target="_blank" class="hover-opacity">
            <img src="<%= asset_path('flight-hat.jpg') %>" class="img-fluid"/>
          </a>
        </div>
        <div class="col p-3 m-3">
          <a href="https://www.etsy.com/shop/FlightPerformance?ref=shop_sugg" target="_blank" class="hover-opacity">
            <img src="<%= asset_path('flight-shortsleeve.jpg') %>" class="img-fluid"/>
        </div>
    </div>
    <div class="row">
      <hr/>
    </div>
    <div class="row">
      <hr/>
    </div>
</div>
