<%# disable turbo links %>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="container-fluid bg-inverse">
    <div class="row">
        <div class="col-xs-12 col-sm-10 offset-sm-1">
            <div id="image-slider">
                <img src="<%= asset_path('header-image-1-color.jpg') %>" alt="lateral jumps"/>
                <img src="<%= asset_path('one_arm_pull.jpg') %>" alt="one arm pull" />
                <img src="<%= asset_path('header-image-3-color.jpg') %>" alt="squats"/>
                <img src="<%= asset_path('side_plank.jpg') %>" alt="side plank" />


                <!-- <img src="<%= asset_path('header-image-1.jpg') %>" alt="lateral jumps"/> -->
                <!-- <img src="<%= asset_path('header-image-2.jpg') %>" alt="one arm pull" /> -->
                <!-- <img src="<%= asset_path('header-image-3.jpg') %>" alt="squats"/> -->
                <!-- <img src="<%= asset_path('header-image-4.jpg') %>" alt="side plank" /> -->
                <!-- <img src="<%= asset_path('header-image-5.jpg') %>" alt="floor bench" /> -->

            </div>
        </div>
    </div>
</div>

<div id="slogan" class="bg-inverse">
    <h4 class="text-white">When it comes to eating right and exercising there is no tomorrow</h4>
    <p class="text-white lead">Tomorrow  becomes a lifetime faster than you can imagine</p>
    <a href="https://flightperformanceandfitness.sites.zenplanner.com/freeTrial.cfm"class="btn btn-primary">Start Today</a>
</div>



<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col text-center">
            <h3 class="display-5">
                Contact us for a personalized evaluation or check out our workout plans
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-primary" href="<%= contact_path %>">Contact</a>
            <a class="btn btn-primary" href="<%= services_path %>">Services</a>
        </div>
    </div>
</div>

<div class="container-fluid bg-inverse">
    <div class="row pt-5 pb-5">
        <div class="col text-center text-white">
            <h2>Get Inspired</h2>
            <h5>Work towards your fitness goals today</h5>
        </div>
    </div>
    <div id="video-player-container" class="row">
        <iframe id="video-player" class="col-8 offset-2" src="https://www.youtube.com/embed/lvglpS3I2RM" frameborder="0" allowfullscreen></iframe>
        <%# TODO videojs instead of youtube %>
        <%#= videojs_rails sources: { mp4: asset_path(', webm: "http://another.com/path/to/video.webm"}, setup: "{}", controls: false, width:"400" %>
    </div>
    <div class="row mt-5 pt-1" >
      <div class="col text-center text-white">
          <h2>Flight Merchandise</h2>
          <a target="_blank" class="font-weight-bold" href="https://teamlocker.squadlocker.com/#/lockers/flight-performance" ><b>Visit our online store</b></a>
      </div>
    </div>
    <div class="row" >
        <div class="col p-3 m-3">
          <a href="https://teamlocker.squadlocker.com/#/lockers/flight-performance/styles/8071138" target="_blank" class="hover-opacity">
            <img src="<%= asset_path('store-long-rugby.png') %>" class="img-fluid"/>
          </a>
        </div>
        <div class="col p-3 m-3">
          <a href="https://teamlocker.squadlocker.com/#/lockers/flight-performance/styles/8071136" target="_blank" class="hover-opacity">
            <img src="<%= asset_path('store-blue-sweat.png') %>" class="img-fluid"/>
        </div>
        <div class="col p-3 m-3">
          <a href="https://teamlocker.squadlocker.com/#/lockers/flight-performance/styles/8071137" target="_blank" class="hover-opacity">
            <img src="<%= asset_path('store-white-hat.png') %>" class="img-fluid"/>
          </a>
        </div>
    </div>
    <div class="row">
      <hr/>
    </div>
    <div class="row">
      <hr/>
    </div>
</div>
