<%# disable turbo links %>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="container-fluid bg-inverse">
    <div class="row">
        <div class="col-10 offset-1">
            <div id="image-slider">
                <img src="<%= asset_path('header-image-1-color.jpg') %>" alt="lateral jumps"/>
                <img src="<%= asset_path('one_arm_pull.jpg') %>" alt="one arm pull" />
                <img src="<%= asset_path('header-image-3-color.jpg') %>" alt="squats"/>
                <img src="<%= asset_path('side_plank.jpg') %>" alt="side plank" />
            </div>
        </div>
    </div>
</div>

<div id="slogan" class="bg-inverse">
    <h2 class="text-white" >When it comes to eating right and exercising there is no tomorrow</h2>
    <p class="text-white" >Tomorrow  becomes a lifetime faster then you can imagine</p>
    <a href="<%= services_path %>"class="btn btn-primary">Start Today</a>
</div>



<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col text-center">
            <h3 class="lead">
                Contact us for a personalized evaluation or browse available workout plans
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-primary" href="<%= contact_path %>">Contact</a>
            <a class="btn btn-primary" href="<%= services_path %>">Services</a>
        </div>
    </div>

</div>

<div class="container-fluid bg-inverse">
    <div class="row pt-5 pb-5">
        <div class="col text-center text-white">
            <h3>Get Inspired</h3>
        </div>
    </div>
    <div id="video-player-container" class="row">
        <iframe id="video-player" class="col-8 offset-2" src="https://www.youtube.com/embed/lvglpS3I2RM" frameborder="0" allowfullscreen></iframe>
        <%# TODO videojs instead of youtube %>
        <%#= videojs_rails sources: { mp4: asset_path(', webm: "http://another.com/path/to/video.webm"}, setup: "{}", controls: false, width:"400" %>
    </div>
    <div class="row">
        <hr/>
    </div>
    <div class="row">
      <hr/>
    </div>
    <div class="row">
      <hr/>
    </div>
</div>
