<%# content_for :head do %>
<!-- <meta name="turbolinks-cache-control" content="no-cache"> -->
<%# end %>

<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-xs-12 col-sm-10 offset-sm-1">
            <div id="image-slider">
                <img src="<%= asset_path('flight-group-class-lunges.jpg') %>" alt="Group Classes Lunges"/>
                <img src="<%= asset_path('side_plank.jpg') %>" alt="side plank" />
                <img src="<%= asset_path('emma-homepage-scaled.jpg') %>" alt="plank pull"/>
                <img src="<%= asset_path('Group-Class-Squat.jpg') %>" alt="Group Classes Squats"/>
                <img src="<%= asset_path('header-image-3-color.jpg') %>" alt="hex squat"/>
                <img src="<%= asset_path('header-image-1-color.jpg') %>" alt="ladder"/>
                <img src="<%= asset_path('flight-group-class-heels-dug-in.jpg') %>" alt="Group Classes Heels Dug in Bridge" />
            </div>
        </div>
    </div>
</div>

<div id="slogan" class="bg-dark">
    <h4 class="text-white">When it comes to exercising and eating right there is no tomorrow</h4>
    <a href="<%= evaluation_path %>"class="btn btn-primary">Start Today</a>
</div>



<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col text-center">
            <h3 class="display-5">
                Contact us for a personalized <b>evaluation</b> or check out our various workout <b>services</b>
            </h3>
        </div>
    </div>
    <div class="row">
       <div class="col mt-3 text-center">
            <a class="m-2 btn btn-primary" href="<%= evaluation_path %>">Evaluation</a>
            <a class="m-2 btn btn-primary" href="<%= services_path %>">Services</a>
       </div>
    </div>
</div>

<div class="container-fluid bg-dark">
    <div class="row pt-5 pb-5">
        <div class="col text-center text-white">
            <h2>Get Inspired</h2>
            <h5>Work towards your fitness goals today</h5>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <%= video_tag "https://ep-files.nyc3.cdn.digitaloceanspaces.com/flight3C0469_1.mp4", class: "img-fluid", controls: true, preload: 'metadata', poster: image_path("home-page-video-screenshot.jpg") %>
      </div>
    </div>
    <div class="row mt-5 pt-1" >
      <div class="col text-center text-white">
          <h2>Flight Merchandise</h2>
          <a target="_blank" class="font-weight-bold" href="https://www.etsy.com/shop/FlightPerformance?ref=shop_sugg" ><b>Visit our online store</b></a>
      </div>
    </div>
    <div class="row">
        <div class="col p-3 m-3">
          <a href="https://www.etsy.com/shop/FlightPerformance?ref=shop_sugg" target="_blank" class="hover-opacity">
            <img src="<%= asset_path('flight-longsleeve.jpg') %>" class="img-fluid"/>
          </a>
        </div>
        <div class="col p-3 m-3">
          <a href="https://www.etsy.com/shop/FlightPerformance?ref=shop_sugg" target="_blank" class="hover-opacity">
            <img src="<%= asset_path('flight-hat.jpg') %>" class="img-fluid"/>
          </a>
        </div>
        <div class="col p-3 m-3">
          <a href="https://www.etsy.com/shop/FlightPerformance?ref=shop_sugg" target="_blank" class="hover-opacity">
            <img src="<%= asset_path('flight-shortsleeve.jpg') %>" class="img-fluid"/>
        </div>
    </div>
    <div class="row">
      <hr/>
    </div>
    <div class="row">
      <hr/>
    </div>
</div>
