<div class="container">
    <div class="row text-center mt-5 mb-5">
        <div class="col">
            <h1>Services</h1>
        </div>
    </div>
    <div class="card-deck mb-5">
        <div class="card">
            <div class="card-block">
                <img class="card-img-top" src="<%= asset_path("one-on-one.png") %>" alt="One on One">
                <h4 class="card-title pt-3 pb-3">One on One</h4>
                <p class="lead card-text">The most private approach where we can assess your needs and goals. We then prescribe a detailed fitness regime to help you improve and reach your goals!</p>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <img class="card-img-top" src="<%= asset_path("strength-and-conditioning.png") %>" alt="Strength & Conditioning">
                <h4 class="card-title pt-3 pb-3">Strength & Conditioning</h4>
                <p class="lead card-text">Whether you are an serious athlete trying to succeed in your sport or just someone with specific goals, flight offers customized programming tailored to your needs.</p>
            </div>
        </div>
    </div>
    <div class="card-deck mb-5">
        <div class="card">
            <div class="card-block">
                <img class="card-img-top" src="<%= asset_path("group-training.png") %>" alt="Group Training">
                <h4 class="card-title pt-3 pb-3">Group Training</h4>
                <p class="lead card-text">A less expensive way to get the dedicated instruction of a trainer. From 2 on 1 to groups of 6-8, we use a group atmosphere to motivate and energize your exercise endeavors.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <img class="card-img-top" src="<%= asset_path("team-training.jpg") %>" alt="Team Training">
                <h4 class="card-title pt-3 pb-3">Team Training</h4>
                <p class="lead card-text">Flight can accommodate teams of any size and sport.  Train together in a great team building atmosphere.</p>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
          <h2 class="pt-3 pb-3">Schedule</h2>
        </div>
    </div>
    <div class="row text-center mb-5">
        <div class="col">
            <img class="img-fluid" alt="schedule" src="<%= asset_path('schedule.png') %>"/>
        </div>
    </div>

</div>
