<div class="container">
    <div class="row text-center mt-5 mb-5">
        <div class="col">
            <h1>Services</h1>
        </div>
    </div>
    <div class="card-deck mb-5">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title pt-3 ">Strength & Conditioning</h3>
                <img class="pb-3 card-img-bottom img-fluid" src="<%= asset_path("strength-and-conditioning.png") %>" alt="Strength & Conditioning">
                <p class="card-text text-left lead"> Our Strength & Conditioning programming and coaching are the flagship services of Flight Performance.  No where else can match the combination of extremely individualized programming with an encouraging team atmosphere.  Flight coaches pride themselves on detail-oriented hands on coaching with a results- driven mindset. <br/>  With this service, our clients have the flexibility to perform their personalized workouts under the close supervision of our diverse coaching staff during open gym hours.  If you are someone that is looking for results and a supportive environment Flight Performance is the perfect place for you. <br/> Sign up for a <%= link_to "free evaluation", evaluation_path %> to get started.
                </p>
            </div>
        </div>
    </div>

    <div class="card-deck mb-5">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="<%= asset_path("one-on-one.png") %>" alt="Personal Training">
                <h4 class="card-title pt-3 pb-3">Personal Training</h4>
                <p class="card-text">Tackle your fitness goals with a 1 on 1 coaching experience.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="<%= asset_path("kids-working-out.jpg") %>" alt="Youth Athletic Development">
                <h4 class="card-title pt-3 pb-3">Youth Athletic Development</h4>
                <div class="card-text">
                    As an extension of our Strength & Conditioning services we specialize in youth athletic development.  It is our primary focus to ensure our young athletes build the fundamental movement patterns, and get the tools to perform to the best of their abilities.  We achieve this by instilling what we believe are the essential values of hard work, discipline, and consistency in the gym and in life.
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck mb-5">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="<%= asset_path("nutritional-coaching.jpg") %>" alt="Nutritional Coaching">
                <h4 class="card-title pt-3 pb-3">Nutritional Coaching</h4>
                <div class=" card-text">Fitness is only a piece of the equation.  Proper nutrition is just as important to reaching your health and fitness goals. Flight offers a 3 month nutrition-coaching package to address this issue and make sure you have all the tools and knowledge you need. The package includes: 
                    <ul>
                        <li>
                            Nutritional handbook that gives you proper perspective and framework to view nutrition for health and performance. 
                        </li>
                        <li>
                            A personalized goal setting session.
                        </li>
                        <li>
                            Weekly action items, check-ins, monthly measurements.
                        </li>
                        <li>
                            A 30 minute consultation each month
                        </li>
                        <li>
                            Calorie and macronutrient breakdown for specific goals.
                        </li>
                    </ul>
               </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="<%= asset_path("online-coaching.jpg") %>" alt="Online Coaching">
                <h4 class="card-title pt-3 pb-3">Online Coaching</h4>
                <div class=" card-text">
                    Can’t make it to flight in person but still want to get expert coaching and programming? Flight offers online coaching for dedicated individuals looking to improve their performance in sports performance, powerlifting, and weightlifting.  Our online package includes:
                    <ul>
                        <li>
                            Initial consultation to discuss goals, training history, and injury history.
                        </li>
                        <li>
                            Individualized programming delivered weekly.
                        </li>

                        <li>
                            Unlimited support via email.
                        </li>
                        <li>
                            Video analysis of exercises to get form on point. 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col text-center p-3" >
                <a href="<%= evaluation_path %>" class="btn btn-primary display-1">Sign up for a Free Evaluation</a>
        </div>
    </div>
</div>
