<div class="container">
    <div class="row text-center mt-5 mb-5">
        <div class="col">
            <h1>Services</h1>
        </div>
    </div>
    <div class="card-deck mb-5">
        <!-- <div class="card"> -->
        <!-- <div class="card-block"> -->
        <!-- <img class="card-img-top" src="<%= asset_path("group-training.png") %>" alt="Group Training"> -->
        <!-- <h4 class="card-title pt-3 pb-3">One on One</h4> -->
        <!-- <p class="lead card-text">The most private approach where we can assess your needs and goals. We then prescribe a detailed fitness regime to help you improve and reach your goals!</p> -->
        <!-- </div> -->
        <!-- </div> -->
        <div class="card">
            <div class="card-block">
                <img class="card-img-top" src="<%= asset_path("strength-and-conditioning.png") %>" alt="Strength & Conditioning">
                <h4 class="card-title pt-3 pb-3">Strength & Conditioning</h4>
                <p class="lead card-text">Personalized training program tailored to the individual's fitness goals and needs with hands on coaching by the Flight staff.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <img class="card-img-top" src="<%= asset_path("one-on-one.png") %>" alt="Personal Training">
                <h4 class="card-title pt-3 pb-3">Personal Training</h4>
                <p class="lead card-text">Tackle your fitness goals with a 1 on 1 coaching experience.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <img class="card-img-top" src="<%= asset_path("team-training.jpg") %>" alt="Classes">
                <h4 class="card-title pt-3 pb-3">Classes</h4>
                <p class="lead card-text">Small group, boot camp style workout with a fun team environment.</p>
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col text-center p-3" >
                <a href="<%= evaluation_path %>" class="btn btn-primary display-1">Sign up for a Free Evaluation</a>
        </div>
    </div>
    <!-- 
         <div class="row text-center">
         <div class="col">
         <h2 class="pt-3 pb-3">Schedule</h2>
         </div>
         </div>
         <div class="row text-center mb-5">
         <div class="col">
         <img class="img-fluid" alt="schedule" src="<%= asset_path('schedule.png') %>"/>
         </div>
         </div>
    -->
</div>
