<div class="container">
    <div class="row text-center mt-5 mb-5">
        <div class="col">
            <h1>Services</h1>
        </div>
    </div>
    <div class="card-deck mb-5">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="<%= asset_path("strength-and-conditioning.png") %>" alt="Strength & Conditioning">
                <h4 class="card-title pt-3 pb-3">Strength & Conditioning</h3>
                    <p class="card-text text-left">Strength & Conditioning coaching and programming is the flagship service of Flight. No other gym experience will offer both the extremely individualized programming with an encouraging team atmosphere. <br/><br/>
                    Flight coaches pride themselves on detail-oriented hands on coaching with a results- driven mindset. Our clients have the flexibility to perform personalized workouts under the close supervision of our diverse coaching staff during open gym hours. <br/><br/> Sign up for a <%= link_to "free evaluation", evaluation_path, class: "font-weight-bold" %> to get started.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="<%= asset_path("one-on-one.png") %>" alt="Personal Training">
                <h4 class="card-title pt-3 pb-3">Personal Training</h4>
                <p class="card-text text-left">Take on your fitness goals with a 1 on 1 coaching experience. You and your coach will come together to create a plan that is catered to your goals. Regardless of what roadblocks you might run into, your coach will be there to guide you through every part of the journey to ensure you get the results you are looking for.</p>
            </div>
        </div>
    </div>
    <div class="card-deck mb-5">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="<%= asset_path("Group-Class-Squat.jpg") %>" alt="Group Classes">
                <h4 class="card-title pt-3 pb-3">Group Classes</h3>
                <p class="card-text text-left">Do you find motivation in a larger group? Join us for one of our fun and intense hour long classes. We'll do a variety of strength and cardio exercises.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="<%= asset_path("nutritional-coaching.jpg") %>" alt="Nutritional Coaching">
                <h4 class="card-title pt-3 pb-3">Nutritional Coaching</h4>
                <div class="card-text text-left">Fitness is only a piece of the equation.  Proper nutrition is just as important to reaching your health and fitness goals. Flight offers a 3 month nutrition-coaching package to address this issue and make sure you have all the tools and knowledge you need. The package includes:
                    <ul>
                        <li>
                            Nutritional handbook that gives you proper perspective and framework to view nutrition for health and performance. 
                        </li>
                        <li>
                            A personalized goal setting session.
                        </li>
                        <li>
                            Weekly action items, check-ins, monthly measurements.
                        </li>
                        <li>
                            A 30 minute consultation each month
                        </li>
                        <li>
                            Calorie and macronutrient breakdown for specific goals.
                        </li>
                    </ul>
               </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="<%= asset_path("online-coaching.jpg") %>" alt="Online Coaching">
                <h4 class="card-title pt-3 pb-3">All Access Remote Coaching</h4>
                <div class="card-text text-left">
                    Can’t make it to flight in person but still want to get expert coaching and programming? Flight offers online coaching for dedicated individuals looking to improve their performance in sports performance, powerlifting, and weightlifting.  Our online package includes:
                    <ul>
                        <li> Initial consultation to discuss goals, training history, and injury history.
                        </li>
                        <li> Weekly video feedback on training execution, technique correction, explanation of training plan
                        </li>
                        <li> 24/7 Access to coach for guidance or to answer questions with the expectation of an answer within 24 hours
                        </li>
                        <li>
                          <a href="<%= remote_coaching_path %>">More details here</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col text-center p-3" >
                <a href="<%= evaluation_path %>" class="btn btn-primary display-1">Sign up for a Free Evaluation</a>
        </div>
    </div>
</div>
