<!DOCTYPE HTML>
<html>

    <head>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <% if params[:controller] == 'posts' %>
            <meta name="turbolinks-visit-control" content="reload">
        <% end %>

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <!-- Facebook Pixel Code -->
          <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1984005518519460');
            fbq('track', 'PageView');
          </script>

          <!-- Google tag (gtag.js) -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=G-0BJT487114"></script>
          <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-0BJT487114');
          </script>

          <noscript>
            <img height="1" width="1"
            src="https://www.facebook.com/tr?id=1984005518519460&ev=PageView
            &noscript=1"/>
          </noscript>
         <!-- End Facebook Pixel Code -->

        <title>Flight Performance and Fitness</title>

        <% if content_for?(:head) %>
            <%= yield(:head) %>
        <% end %>

        <!-- KISS Marketing form for free into page -->
        <script src="https://fitsndr.com/js/form_embed.js"></script>
    </head>

    <body>
        <section id="header" class="container-fluid sticky-top white-font bg-dark"> <!-- Header -->
            <div class="row bg-primary text-right align-items-center pb-2 pt-2">
                <div class="offset-xs-6 col-xs-6 offset-sm-9 col-sm-3 social-icons">
                    <a href='https://www.youtube.com/@flightperformancefitness' target="_blank"> <%= fa_icon 'youtube-play' %></a>
                    <a href='https://www.instagram.com/flight_performance/' target="_blank"> <%= fa_icon 'instagram' %></a>
                    <a href='https://www.facebook.com/flightperformance/' target="_blank"> <%= fa_icon 'facebook-official' %></a>
                    <a href='https://www.yelp.com/biz/flight-performance-and-fitness-newton' target="_blank"> <%= fa_icon 'yelp' %></a>
                    <a class="flight-app-link" href='#' class="text-white" target="_blank"><%= fa_icon 'mobile' %></a>
                </div>
            </div>
            <% if false #current_page?(root_path) %>
                <div class="covid-alert alert alert-warning alert text-center" role="alert">
                  <%= link_to  "View Our COVID-19 Policies", covid_path %>
                </div>
            <% end %>
            <nav class="container navbar navbar-toggleable-md navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href= "<%= root_path %>" >
                    <img src="<%= image_path 'flight-logo.png' %>" alt="flight-performance-and-fitness" height="42"/>
                </a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <a class="navbar-brand" href="#"></a>
                    <ul class="navbar-nav">
                        <%= nav_link "Home", root_path %>
                        <%= nav_link "Services", services_path %>
                        <%= nav_link "Contact", contact_path  %>
                        <%= nav_link "About", about_path %>
                        <%= nav_link "Schedule", calendar_path %>
                        <%#= nav_link "Blog", posts_path %>
                        <%= nav_link "Free Intro Session", evaluation_path %>
                        <%= nav_link "Store", "https://www.etsy.com/shop/FlightPerformance?ref=shop_sugg" %>
                        <% if user_signed_in? %>
                            <%= nav_link "Log Out", destroy_user_session_path, method: :delete, id: "user-logged-in" %>
                        <% end %>
                    </ul>
                </div>
            </nav>

        </section>

        <section id="main">

            <% if notice %>
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <%= notice %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% end %>
            <% if alert %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= alert %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% end %>
            <%= yield %>
        </section>
        <section class="container-fluid bg-dark"> <!-- Footer -->
            <div id="footer-image" class="row">
            </div>
            <div class="row">
                <div class="col text-center text-white lead">
                    <p class="mt-2 mb-2">
                        <!-- <a class="flight-app-link nounderline text-white" href="#" target="_blank"><span class="font-weight-bold"> Download our app &nbsp <%= fa_icon 'mobile' %></span></a><BR> -->
                        <p>
                          <%= link_to "Privacy Policy", privacy_path, class: "text-lighter-blue" %>
                        </p>

                        <!-- <p>
                             <%= link_to  "COVID-19 Policy", covid_path%>
                             </p>
                        -->
                        © 2017 FLIGHT PREFORMANCE & FITNESS
                        <br/>
                        225 Riverview Ave.
                        Newton, MA 02466 <br/>
                        617-454-4603
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div id="sign-up-modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title">Free Intro Session</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <sp aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <h3>We do things differently at Flight... </h3>
                            <br>
                            <p class="lead">To achieve the results you want, our coaches will create a specialized program tailored to you. In order to do this, we ask you come in for a free one on one evaluation. No obligations, just come in for a 1 hour workout and you can see what we are all about.</p>
                            <br>
                            <a href="<%= evaluation_path %>">
                                <button class="btn btn-primary">Sign up today for your free into session</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
