<!DOCTYPE HTML>
<html>

    <head>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Flight Performance and Fitness</title>

        <% if content_for?(:head) %>
            <%= yield(:head) %>
        <% end %>
    </head>

    <body>
        <section id="header" class="container-fluid white-font bg-inverse"> <!-- Header -->
                <div class="row bg-primary text-right align-items-center pb-2 pt-2">
                    <div class="offset-xs-6 col-xs-6 offset-sm-9 col-sm-3 social-icons">
                        <a href='https://www.yelp.com/biz/flight-performance-and-fitness-newton' target="_blank"> <%= fa_icon 'yelp' %></a>
                        <a href='https://www.facebook.com/flightperformance/' target="_blank"> <%= fa_icon 'facebook-official' %></a>
                        <a href='https://www.instagram.com/flight_performance/' target="_blank"> <%= fa_icon 'instagram' %></a>
                        <a class="flight-app-link" href='#' class="text-white" target="_blank"><%= fa_icon 'mobile' %></a>
                        <!-- <a href="https://flightperformanceandfitness.zenplanner.com/zenplanner/portal/calendar.cfm" target="_blank" ><%= fa_icon 'calendar-o' %></a> -->
                    </div>

                </div>
            <nav class="container-fluid navbar navbar-toggleable-md navbar-expand-lg navbar-inverse bg-inverse">
                <div class="container">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href= "<%= root_path %>" >
                        <img src="<%= image_path 'logo_blue.png' %>" alt="flight-performance-and-fitness" height="42"/>
                    </a>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                          <%= nav_link "Home", root_path %>
                          <%= nav_link "Contact", contact_path %>
                          <%= nav_link "Services", services_path %>
                          <%= nav_link "About", about_path %>
                          <%= nav_link "Testimonials", testimonials_path %>
                          <%#= nav_link "Events", events_path %>
                          <%= nav_link "Schedule", calendar_path %>
                          <%= nav_link "Store", "https://teamlocker.squadlocker.com/#/lockers/flight-performance" %>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <section id="main">
            <%= yield %>
        </section>
        <section class="container-fluid bg-inverse"> <!-- Footer -->
            <div id="footer-image" class="row">
            </div>
            <div class="row">
                <div class="col text-center text-white lead">
                    <p class="mt-2 mb-2">
                        <!-- <a class="flight-app-link nounderline text-white" href="#" target="_blank"><span class="font-weight-bold"> Download our app &nbsp <%= fa_icon 'mobile' %></span></a><BR> -->

                        © 2017 FLIGHT PREFORMANCE & FITNESS
                        <br/>
                        225 Riverview Ave.
                        Newton, MA 02466 <br/>
                        508-737-2165
                    </p>
                </div>
            </div>
        </section>
    </body>
</html>
